<div class="footer">

  <div class="footer-left">
   <b>Eatup Limited &copy <%= new Date().getFullYear() %></b> 
  </div>
  <div class="footer-right">
    <a href="http://www.eatup.ng" target="_blank" rel="noopener noreferrer"><b class="color">eatup.ng</b></a>
  </div>



  
</div>