@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


/* General */
:root{
  --text : #000000E0;
  --sec-text: #000000A6;
  --dis-text : #00000040;
  --border : #d9d9d9ff;
  --seperator : #0505050f;
  --layout-background :#f5f5f5ff;
  --gray : #7e7e7e;
  --gray-light : #e4e4e4;
  --red : #b30000;
  --font-size-base : 1rem;
  --font-size-medium:clamp(1.25rem, 2vw, 1.563rem);
  --font-size-large:clamp(1.25rem, 2vw, 1.563rem);
  --font-size-extra-large:clamp(1.953rem, 2vw, 2.5rem);
  --border-radius: 10px
}

body{
  margin: 0 auto;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  color: var(--text);
  font-size: var(--font-size-base);
  
}

img{
  width: 100%;
}

a{ color: var(--sec-text); text-decoration: none;}

h2,
h3,
h4,
h5 {
  margin: 0;
  padding: 0;
}

h2 {
  font-weight: 400;
  font-size: clamp(32px, 4vw, 43px);
  line-height: clamp(43px, 5vw 53px);
  letter-spacing: 0%;
}

h3 {
  font-weight: 400;
  font-size: clamp(17px, 2.5vw, 29px);
  line-height: clamp(27px, 4vw, 37px);
  letter-spacing: clamp(0.13%, 0.15vw, 0%);
}

h4 {
  font-weight: 400;
  font-size: clamp(16px, 2.5vw, 21px);
  line-height: clamp(21px, 3vw, 32px);
  letter-spacing: clamp(0.5%, 0.1vw, 0.6%);
}

h5 {
  font-weight: 400;
  font-size: clamp(14.7px, 2vw, 19px);
  line-height: clamp(21.3px, 3vw, 27px);
  letter-spacing: clamp(0.6%, 0.3vw, 0.7%);
}


.container{
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="file"],
input[type="search"],
select,
textarea{
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: clamp(16px, 2.5vw, 21px);
  line-height: clamp(21px, 3vw, 32px);
  letter-spacing: clamp(0.5%, 0.1vw, 0.6%);
  display: block;
  box-sizing: border-box;
  width: 100%;
  padding: 0.8rem 0.75rem;
  border-radius: 10px;
  border: 1px solid var(--border);
  margin-top: 5px;

}

input:focus{
  border-color: black;
}

.btn{
  padding: 15px 15px;
  font-weight: 400;
  font-size: clamp(16px, 2.5vw, 21px);
  line-height: clamp(21px, 3vw, 32px);
  letter-spacing: clamp(0.5%, 0.1vw, 0.6%);
  border-radius: 5px;
  border: none;
  cursor: pointer;
  background-color: #f8c426;
  color: black;
  box-sizing: border-box;
}

.btn:hover{
  filter: brightness(0.9);
}
.btn:active{
  transform: translateY(2px);
}

.form{
  border: 1px solid black;
  border-radius: var(--border-radius);
  margin: 0px auto;
  width: 60%;
  padding: 20px;
  display: grid;
}

.form button{
  margin: 30px 0;
  border-radius: 10px;
}

.form-heading{
  text-align: center;
}

.form label{
  margin-top: 2rem;
}

.login{
  width: 40%;
}
/* Header */



.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  margin-bottom: 30px;
}

.logo{
  width:95px;
  height:36px;
}

.header__right{
  display: flex;
  align-items: center;
  gap: 20px;
}

.header__home,
.header__about{
  color: var(--text);
  font-weight: 600;
}

.header__home:hover,
.sub-main a:hover,
.new-post a:hover,
.header__about:hover{
  text-decoration: underline;
}

.search,
.menu,
.cancel{
  padding: 3px 5px;
  
}

.header__home:active,
.menu:active,
.sub-main a:active,
.search:active,
.cancel:active,
.header__about:active{
  transform: translateY(2px);
}

.search:hover,
.cancel:hover,
.menu:hover{
  border-radius: 5px;
  background-color: var(--layout-background);
  
}

/* Hamburger nav */
.menu{
  display: none;
}

.menu-container{
  max-width: 992px;
  margin: 0 auto;
  padding: 0 20px;
  display: none;
  flex-direction: column;
  background-color: white;  
  position: fixed;
  right:0px;
  left: 0px;
  bottom: 0px;
  top: 0px;
  

}

.menu-open{
  transition: transform 0.1s;

}

.sub-main{
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 0 20px; 
  
}

.sub-main a{
  color: var(--text);
  font-weight: 600;
}

/* search */

.search-container{
  display: none;
  position: absolute;
  left: 30%;
  top :5px;
  width: 40%;
  margin: 0px auto;
  gap: 5px;
  align-items: center;
  border: 1px solid var(--border);
  border-radius: var(--border-radius);
  padding:0.7rem 0.75rem;
  z-index: 100;
  
  
}

.open-search{
  transition: transform 0.1s;

}

.search-container input{
  outline: none;
  border: none;
}


/* card */

.blog-recent-post,
.blog-recent{
  width: 100%;
}

.recent-card{
  width: 100%;
  display: flex;
  gap: 24px;
}

.main{
  width: 100%;
  margin: 0px auto;
}

.sub-container{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  margin: 20px auto;
  min-height: 800px;
}

.card-container{
  width: 30%;
  padding: 20px;
  box-sizing: border-box;
  height: 453px;
  border-radius: 20px;
}

.card-container:hover {
  background-color: var(--layout-background);
}

.card-container:active {
  transform: translateY(2px)
}

.card-image{
  width: 100%;
  height: 248px;
  border-radius: 20px;
  margin-bottom: 20px;
}

.card-image img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}

.card-body{
  width: 100%;
  color: black;
}

.card-body h4{
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}

/*.recent-card{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  row-gap: 30px;
  column-gap: 30px;
  margin: 0 auto;
}

.sub-container{
  display: flex;
  width: 100%;
  margin: 0px auto;
}

.card-container{
  padding: 25px;
  border-radius: 20px;
  box-sizing: border-box;
  width: 30%;
  height: 353px ;
}

.card-container:hover{
  background-color: var(--layout-background);
}
.card-container:active{
  transform: translateY(2px)
}

.card-container img{
  border-radius: 20px;
  width: 100%;
  
}

.card-image{
  margin-bottom: 30px;
  width: 80%;
  height: 60%;
} */


.card-body h5{
  color: var(--sec-text);
  font-weight:400;
  margin-top: 5px;
  font-size: var(--font-size-base);
}

/* pagination */

.pagination{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 50px 70px;
}

.pagination a{
  display: flex;
  align-items: center;
  gap: 3px;
  font-weight: 500;
  color: var(--text);
}
.pagination a:hover{
  text-decoration: underline;
}

.icon{
  width: 24px;
  height: 24px;
}

/* footer */
.footer{
  padding: 100px 30px 50px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.color{
  color: #f5cc3e;
}


.share-link img{
  width: 40px;
  height: 40px;
  margin-right: 10px;
}


/* blog page */

.topic{
  margin: 0px auto 50px auto;
  text-align: center;
}

.topic h2{
  width: 70%;
  text-align: center;
  margin: 10px auto;
}

.share-link{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin: 10px 0px;

}


.image-body{
  width: 80%;
  margin: 50px auto;
}

.image-body img{
  border-radius: 30px;
  height: auto;

}

.content-body{
  color: var(--sec-text);
  margin-bottom: 100px;
  width: 65%;
  margin: 50px auto;
  
}

.blog-recent-post h3,
.search-text{
  color: var(--dis-text);
}



/* About page */

.picture-intro{
  background-image: url("./images/unsplash_g1Kr4Ozfoac.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 20px;
  width: 80%;
  margin: 20px auto;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.picture-intro h2{
  color: white;
  text-align: center;
  font-size: 24px;

}
.ref{
  width: 200px;
  border: none;
  padding: 30px 15px;
  background-color: var(--layout-background);
  border-radius: var(--border-radius);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  text-wrap: wrap;
  
}


/* Admin page */
.post-list,
.new-post{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 50px auto;
  padding: 0 50px;
  text-wrap: wrap;
}

.post-text{
  max-width: 70%;
  font-weight: 500;
}

.username-error,
.password-error{
  color: red;
}

.post-buttons{
  display: flex;
  gap: 5px;
}

.post-buttons img:active{
  transform: translateY(2px);
}

/* Error page */
.error-icon{
  width: 96px;
  height: 96px;
}

.error-container{
  margin: 100px auto;
  text-align: center;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* subscribe */
.subscribtion-container{
  border: 1px solid black;
  border-radius: 20px;
  width: 70%;
  margin: 50px auto;
  padding: 70px 30px;
  text-align: center;
  box-sizing: border-box;
}

.subscribtion-container form{
  display: flex;
  gap: 10px;
  width: 60%;
  margin: 20px auto;
}
.subscribtion-container input{
  border-radius: 5px;
}



.subscribtion-container h3{
  width: 80%;
  margin: 20px auto;
}

.subscribtion-container h5{
  width: 85%;
  margin: 20px auto;
}

.appreciation{
  display: none;
  margin: 50px auto;
  top: 50% ;
}

.appreciation-display{
  display: grid;
  margin: 50px auto;
}

@media(min-width:993px) {
  
}


@media(min-width:769px) and (max-width:992px){

  .footer {
    display: flex;

  }

  .form {
    width: 40%;

  }

  .error-container {
    width: 50%;
  }

  .subscribtion-container form {
    width: 70%;
  }


  .subscribtion-container h1 {
    width: 60%;
    margin: 20px auto;
  }

  .subscribtion-container p {
    width: 65%;
    margin: 20px auto;
  }

  .card-container {
    width: 48%;

  }

  .login {
    width: 60%;
  }

  h2 {
    font-size: 37px;
    line-height: 48px;
    letter-spacing: 0%;
  }

  h3 {
    font-size: 21px;
    line-height: 32px;
    letter-spacing: 0.19%;
  }

  h4 {
    font-size: 19px;
    line-height: 27px;
    letter-spacing: 0.3%;
  }

  h5 {
    font-size: 16px;
    line-height: 21px;
    letter-spacing: 0.7%;
  }
}

@media(max-width:768px){

  .menu {
    display: inline-block;

  }

  .header__home,
  .header__about {
    display: none;
  }

  .search-container {
    width: 90%;
    background-color: white;
    left: 5%;
    right: 5%;
    box-sizing: border-box;
  }


  .picture-intro h3 {
    width: 100%;

  }

  .sub-container {
    flex-direction: column;
  }

  .card-container {
    width: 100%;
  }

  .ref {
    width: 150px;
    text-wrap: wrap;

  }

  .header {
    padding: 15px 0px;

  }

  .form {
    border: none;
    width: 100%;
    padding: 5px;
  }

  .post-list,
  .new-post {
    padding: 0 15px;
  }

  .post-text {
    max-width: 60%;
  }

  .subscribtion-container form {
    flex-direction: column;
    width: 95%;

  }

  .subscribtion-container h1 {
    width: 90%;
    margin: 20px auto;
  }

  .subscribtion-container p {
    width: 95%;
    margin: 20px auto;
  }

  h2 {
    font-size: 32px;
    line-height: 43px;
    letter-spacing: 0%;
  }

  h3 {
    font-size: 17px;
    line-height: 27px;
    letter-spacing: 0.13%;
  }

  h4 {
    font-size: 16px;
    line-height: 21px;
    letter-spacing: 0.5%;
  }

  h5 {
    font-size: 14.7px;
    line-height: 21.3px;
    letter-spacing: 0.6%;
  }

}